/*Navbar*/

.menu {
    min-height: 4rem;
    max-height: 0;
    transition: max-height 0.4s;
}

#burger:checked ~ .menu {
    max-height: 25rem;
}

/* Height for logo */
.h2-plus {
    height: 2.5rem;
}

/* Standard link styles */
a {
    color: #96281b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* More readable article text */
main p {
    line-height: 1.25;
    font-size: 1.25rem;
}
