{{ define "main" }}
<main>
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8 py-4 sm:py-8">
    <article>
    <header>
        <h1 class="text-xl text-gray-900 font-semibold sm:text-2xl py-3">🦥 An infrequently updated blog</h1>
    </header>
    <div>
    <p>
I prefer technical articles with a bit of depth to them, so this blog isn't often updated unless I've been done some research on a topic and feel it might be useful or of interest to someone. Hopefully it is :).
    </p>
    <p class="py-3">
    If you have any comments, suggestions or questions, please submit them through <a href="https://github.com/broch/broch.github.io/issues">Github</a>. Pull requests for article corrections are also very welcome.
    </p>
    </div>
    </article>
    <ul>
    <!-- Ranges through content/posts/*.md -->
    {{ range .Pages }}
        <li>
            <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
        </li>
    {{ end }}
    </ul>
  </div>
</main>
{{ end }}
