<div class="flex flex-column vh-100-ns flex-wrap">
    $for(posts)$
        <div class="w-30-ns h-auto mv3 pa3 shadow-hover">
            <a href="$url$"><img class="db dim" src="$thumb$"></a>
            <h2 class="f5 mb1"><a class="link dim blood-red", href="$url$">$title$</a></h2>
            $if(tags)$
            <div class="f6 tags">$tags$</div>
            $endif$
            $if(summary)$
            <p class="f6 lh-copy mid-gray">$summary$</p>
            $endif$
            <small class="gray db pv1">$date$</small>
        </div>
    $endfor$
</div>
